{block name="extra-panel" append}
    <table class="lmsbox" id="lms-ui-welcome-box-downdetector">
        <thead>
            <tr onclick="showOrHide('welcome_downdetector');">
                <th class="text-center">
                    <i class="fas fa-bolt"></i> {trans('The highest number of reported failures and interruptions in access to real-time services listed on downdetector.pl')}
                    {$downdetector['last_updated_cache']}
                </th>
            </tr>
        </thead>
        <tbody id="welcome_downdetector">
            {foreach from=$downs key=key item=items}
                <tr>
                    <td>
                        <!-- {$key} -->
                        <table class="lmsbox lms-ui-background-cycle">
                            <tbody>
                                <tr class="highlight">
                                    {foreach from=$items key=key item=item}
                                        <td>{$key+1}. <a href="https://downdetector.pl/status/{$item|lower|replace:' ':'-'|replace:'%7D':''}">{$item}</a></td>
                                    {/foreach}
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            {/foreach}
        </tbody>
    </table>
{/block}